
SignalRCore/SignalRCore/bin/Debug/netcoreapp2\.1/

SignalRCore/SignalRCore/obj
SignalRCore/\.vs/SignalRCore/v15/Server/sqlite3/storage\.ide-wal

SignalRCore/\.vs/SignalRCore/v15/\.suo

SignalRCore/\.vs
